<ul>
    <li><b>Site ID: </b><%= data.site.name %></li>
    <li><b>Collected Date: </b><%= data.collected_date %></li>
    <li><b>Soil Moisture Low: </b><%= data.soil_moisture_low %></li>
    <li><b>Soil Moisture Medium: </b><%= data.soil_moisture_medium %></li>
    <li><b>Soil Moisture High: </b><%= data.soil_moisture_high %></li>
    <li><b>Temperature: </b><%= data.temperature %></li>
    <li><b>Sunlight: </b><%= data.sunlight %></li>
    <li><b>Waterlevel: </b><%= data.waterlevel %></li>
</ul>
