<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<script type="text/javascript">
  $.webshims.setOptions('basePath', '/webshims/shims/');
  $.webshims.polyfill();
</script>
<h1><%= @site.name %></h1>
<%= form_tag '', :method => :get, :class => "readings-filter" do %>
  <fieldset>
    <legend>Filter</legend>
    <div class="readings-filter-group">
      <%= label_tag 'start_date', 'Start Date' %>
      <%= date_field_tag :start_date, params[:start_date] %>
      <%= label_tag 'end_date', 'End Date' %>
      <%= date_field_tag :end_date, params[:end_date] %>
    </div>
    <%= submit_tag 'Filter' %>
  </fieldset>
<% end %>
<%= line_chart @graph_data %>
<div class="row">
  <div class="span9">
    <h2>Readings</h2>
    <table class="readings">
      <thead>
          <tr>
              <th>Created</th>
              <th>Node&nbsp;ID</th>
              <th>Soil&nbsp;1</th>
              <th>Soil&nbsp;2</th>
              <th>Soil&nbsp;3</th>
              <th>Temp</th>
          </tr>
      </thead>
      <tbody>
        <% @readings.each do |reading| %>
        <tr id="node_reading_1200">
          <td data-title="Created: "><%= reading.local_created_at %></td>
          <td data-title="Node ID: " class="number"><%= reading.node_id %></td>
          <td data-title="Soil 1: " class="number"><%= reading.soil1.to_f %></td>
          <td data-title="Soil 2: " class="number"><%= reading.soil2.to_f %></td>
          <td data-title="Soil 3: " class="number"><%= reading.soil3.to_f %></td>
          <td data-title="Temp: " class="number"><%= reading.temp %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <%= link_to "Export Readings", {controller: "sites", action: 'show', id: params[:id],format: "csv"}, {class: "readings-export"} %>
          </td>
        </tr>
      </tfoot>
    </table> 
    <%= paginate @readings %>
  </div>
  <div class="span2">
    <h2>Nodes</h2>    
    <% @nodes.each do |node| %>
      <%= div_for(node, class: "node") do %>
        <h3 class="node-title"><%= node.id %></h3>
        <ul class="node-info">
          <li><b>Channel:</b> <%= node.channel %></li>
          <li><b>Project Type:</b> <%= node.project_type %></li>
          <li><b>Voltage:</b> <%= node.voltage %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
