<h1><%= @site.name %></h1>

<div class='graph'>Cool graph coming soon</div>

<% @readings.each do |reading| %>
  <%= div_for reading do %>
    <%= reading.inspect %>
  <% end %>
<% end %>

<%=javascript_tag do %>
    var siteId = <%= @site.id %>
<% end %>
